<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="partials.html::head('Create a new post')" >
    <meta charset="UTF-8">
    <title>Create a new Blog Post!</title>
</head>
<body>
<div th:replace="partials.html::navbar">You shouldn't see this.</div>

<div class="container">
<div th:if="${post.id == 0}">
    <h1>Use the form below to create a new post!</h1>
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        <div class="mb-3">
            <label for="title" class="form-label">Title of the post</label>
            <input class="form-control" th:field="*{title}" type="text">
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Body of the blog post</label>
            <textarea class="form-control" rows="6" th:field="*{body}">All text goes here. At this time no formatting is allowed besides line breaks.</textarea>
        </div>
        <button class="btn btn-secondary text-center">Submit Post</button>
    </form></div>

<div th:if="${post.id != 0}">
    <h1>Use the form below to edit an existing post!</h1>
    <form th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="post" th:object="${post}">
        <div class="mb-3">
            <label for="title" class="form-label">Title of the post</label>
            <input class="form-control" type="text" th:field="*{title}">
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Body of the blog post</label>
            <textarea class="form-control" rows="6" th:field="*{body}"></textarea>
            <!--            <input hidden id="id" name="id" th:value="${post.id}">-->
        </div>
        <button class="btn btn-secondary text-center">Submit Post</button>
    </form>
</div>


</div>
<footer th:replace="partials.html::footer"></footer>
</body>
</html>