<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials.html :: head('Links to Ted\'s Projects')">
    <meta charset="UTF-8" />
    <title>Home</title>

</head>
<body><link rel="stylesheet" href="/css/projects.css">
<nav th:replace="partials.html :: navbar"></nav>

<!--<div class="jumbotron jumbotron-fluid p-0 bg-dark WS">-->
<!--    <div class="container quote">-->
<!--        <h1 class="display-4 text text-white">"I was told having a website would help me. I have yet to figure out why my life story needs to be on the web.</h1>-->
<!--        <h4 class="text-right text-white">Wally Schirra<br>USNA '45, third American in space</h4>-->
<!--    </div>-->
<!--</div>-->

<main role="main">
    <div class="container">
<h1>Here's what I can do....</h1>
        <hr class="featurette-divider">
        <div class="row featurette" id="notanotherbookclub">
            <div class="col-md-5 order-2 order-md-1">
                <img src="https://imgur.com/p8KRhNc.gif" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" id='' aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            </div>
            <div class="col-md-7 order-1 order-md-2">
                <h2 class="featurette-heading">A fully-functioning, scalable, social network. <span class="text-muted">Interactive, engaging, and with tons of functionality.</span></h2>
                <p class="lead">At its most basic, a social network built around a love of books and reading. Visitors can create an account, record books that they've read, are currently reading, or plan to read, find other users and bookclubs that are reading the same books, and also peruse bookclub listings, seeing how often they meet, what book they are currently reading, and discussion posts and comments posted by bookclub members. If they're a good match, users can request to join bookclubs, or create their own and invite like-minded friends. NAB is a fully functional, end-to-end CRUD full-stack website, built with Java, SpringBoot, Thymeleaf, jQuery, Bootstrap, MySQL, Javascript, CSS, and HTML using Google APIs and internal RESTful endpoints.</p>
                <div class="text-center">
                    <a href="https://www.youtube.com/watch?v=Qbsar9xXPIc" target="_blank"><button type="button" class="btn btn-dark m-1">See a video demonstration!</button></a>
                    <a href="https://codeup.com/kalypso/" target="_blank"><button type="button" class="btn btn-dark m-1">Check out the team!</button></a>
                    <a href="https://github.com/Not-Another-Bookclub/not-another-bookclub-site" target="_blank"><button type="button" class="btn btn-dark m-1">See the code</button></a>
                    <a href="https://notanotherbookclub.com"><button type="button" class="btn btn-dark m-1" target="_blank">See it live!</button></a></div>
            </div>

        </div>

        <hr class="featurette-divider">

        <div class="row featurette" id="weathermap">
            <div class="col-md-7">
                <h2 class="featurette-heading">Mapbox and Openweather. <span class="text-muted">Two great APIs that taste better together.</span></h2>
                <p class="lead">This is a fully responsive, fully interactive, mobile responsive Javascript app - it even has a hand-coded autocomplete function on the search bar. It uses jQuery, Bootstrap, AJAX, vanilla Javascript, and CSS and HTML.</p>
                <div class="text-center"><a href="https://github.com/edwardmccormick/codeup-web-exercises/blob/main/weather_map.html" target="_blank"><button type="button" class="btn btn-dark m-1">See the code</button></a><a href="http://tedmccormick.familyds.com/weather_map.html" target="_blank"><button type="button" class="m-1 btn btn-dark">See it live!</button></a></div>
            </div>
            <div class="col-md-5">
                <img src="/img/weathermap.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette" id="moviedatabase">
            <div class="col-md-5 order-2 order-md-1">
                <img src="/img/movie.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" id='' aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            </div>
            <div class="col-md-7 order-1 order-md-2">
                <h2 class="featurette-heading">A media-front end, ready to integrate with a player. <span class="text-muted">Mobile responsive, modern, and interactive. Just add movies!</span></h2>
                <p class="lead">Another pairs programming project using multiple APIs to communicate with a private server and complete details of entries from a public server. </p>
                <div class="text-center"><a href="https://github.com/Joshua-and-Ted-Kalypso-Movie-Project/movie-database-pairs-programming" target="_blank"><button type="button" class="btn btn-dark m-1">See the code</button></a><a href="movies.html"><button type="button" class="btn btn-dark m-1" target="_blank">See it live!</button></a></div>
            </div>

        </div>


        <hr class="featurette-divider">

        <div class="row featurette" id="coffeeproject">
            <div class="col-md-7">
                <h2 class="featurette-heading">How about a nice hot cup of coffee? <span class="text-muted">A responsive, interactive, Javascript web app.</span></h2>
                <p class="lead">This is a pairs-programmed vanilla Javascript app that has a ton of functionality and even allows the user to add to the database and display. It's lovingly hand-coded with HTML, CSS, Bootstrap, and even touches a bit of LocalStorage and file permanence.</p>
                <div class="text-center"><a href="https://github.com/Jeremiah-and-Ted-Kalypso/coffee-project" target="_blank"><button type="button" class="btn btn-dark m-1 ">See the code</button></a><a href="coffee.html" target="_blank"><button type="button" class="m-1 btn btn-dark">See it live!</button></a></div>
            </div>
            <div class="col-md-5">
                <img src="/img/coffeeproject.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" id="wireframe">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">And lastly, a beautiful, responsive home page mockup. <span class="text-muted">Built off wireframes, ready to be brought live.</span></h2>
                <p class="lead">Another pairs programming project built with Bootstrap, CSS, and HTML. </p>
                <div class="text-center"><a href="https://github.com/Natalie-E-and-Ted-M/pairs-programming-bootstrap" target="_blank"><button type="button" class="btn btn-dark m-1">See the code</button></a><a href="pairs-programming-bootstrap.html"><button type="button" class="btn btn-dark m-1" target="_blank">See it live!</button></a></div>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/img/wireframe.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" id='' aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            </div>
        </div>


<!--        <hr class="featurette-divider">--><br><br>


    </div>
    </div>
</main>
<footer th:replace="partials.html::footer"></footer>
</body>
</html>
