<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials.html :: head('Ted\'s Resume')">
    <meta charset="UTF-8" />
    <title>Home</title>

</head>
<link rel="stylesheet" href="/css/resume.css">
<body>
<nav th:replace="partials.html :: navbar"></nav>
<!--<div class="jumbotron jumbotron-fluid p-0 bg-dark JPJ">-->
<!--    <div class="container quote">-->
<!--        <h1 class="display-4 text text-white">"It seems to be a law of nature, inflexible and inexorable, <strong><em>that those who will not risk cannot win."</em></strong></h1>-->
<!--        <h4 class="text-right text-white">John Paul Jones,<br> father of the U.S. Navy</h4>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <div class="col-12 text-center mb-4">
    <h1 class="text-center">Edward C. "Ted" McCormick</h1><br><br>
    <h2 class="text-center">Software Developer</h2>
    <p>
        Former Navy officer with engineering leadership experience, strong communication skills, and a diverse technical
        background transitioning into software development. I’m passionate about implementing technically-challenging,
        value-added projects while continuing to add new skills and grow mastery with my current skill set.</p>
    <!--        <div class="d-xl-none"><i class="fas fa-phone">210-867-5309</i></div>-->
    <!--        <section class="row">-->
    <!--            <div class="col-12 col-md-3 col-xl-2"> <i class="fas fa-envelope-square">someone@nowhere.com</i></div>-->
    <!--            <div class="col-12 col-md-3 col-xl-2"><i class="fab fa-linkedin">@cody-the-duck</i></div>-->
    <!--            <div class="d-none d-xl-flex col-xl-2 text-center"><i class="fas fa-phone">210-867-5309</i></div>-->
    <!--            <div class="d-none d-xl-flex col-xl-2 text-center"><i class="fas fa-laptop-code">www.myvanitywebsite.com</i></div>-->
    <!--            <div class="col-12 col-md-3 col-xl-2"><i class="fab fa-github-square">@cody-the-duck</i></div>-->
    <!--            <div class="col-12 col-md-3 col-xl-2"><i class="fab fa-twitter-square">@cody-the-duck</i></div>-->
    <!--        </section></div>-->
    <hr>
    <br>
        <p>Want something a little more portable? Download the <a href="Edward.McCormick.Resume.pdf" target="_blank">.pdf <i class="fas fa-file-pdf"></i></a> or <a href="Edward.McCormick.Resume.docx" target="_blank">.docx <i class="fas fa-file-word"></i></a></p>
        <br>
        <div class="column">
<!--        <div class="col-12 col-md-4 col-lg-3 column">-->
            <h5 class="">Skills and Abilities</h5>

            <div class="d-flex flex-row justify-content-start flex-wrap m-2">
                <div class="px-1 m-1">HTML <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" height="25px"></div>
                <div class="px-1 m-1">CSS <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" height="25px"></div>
                <div class="px-1 m-1">Javascript <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" height="25px"></div>
                <div class="px-1 m-1">Bootstrap <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" height="25px"></div>
                <div class="px-1 m-1">Java SE <img src="https://upload.wikimedia.org/wikipedia/en/3/30/Java_programming_language_logo.svg" height="25px"></div>
                <div class="px-1 m-1">MySQL <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" height="25px"></div>
                <div class="px-1 m-1">Spring Boot Framework</div>
                <div class="px-1 m-1">jQuery <img src="img/jquery-vertical.svg" height="25px"></div>
                <div class="px-1 m-1">VCS with Git <img src="img/git-scm-icon.svg" height="25px"></div>
                <div class="px-1 m-1">Object Oriented Programming</div>
                <div class="px-1 m-1">Paired Programming</div>
                <div class="px-1 m-1">Thymeleaf <img src="img/thymeleaf_logo.png" height="25px"></div>
                <div class="px-1 m-1">Java/Jakarta EE <img src="img/Jakarta_ee_logo_schooner_color_stacked_default.svg" height="25px"></div>
                <div class="px-1 m-1">Jasmine <img src="https://www.vectorlogo.zone/logos/jasmine/jasmine-icon.svg" height="25px"> </div>
            </div>

            <h6>Exposure to:</h6>
            <div class="d-flex flex-row justify-content-start flex-wrap">
                <div class="m-1 px-1">Tailwind CSS Framework <img src="img/tailwindcss-mark.ce301590451472adad5301c69f9054af.svg" height="25px"></div>
                <div class="m-1 px-1">Python <img src="img/Python.svg" height="25px"></div>
                <div class="m-1 px-1">Django Web Framework <img src="/img/django-logo-positive.svg" height="25px"></div>

                <div class="m-1 px-1">PHP <img src="img/new-php-logo.svg" height="25px"></div>
                <div class="m-1 px-1">React JS <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" height="25px">  </div>
            </div>
            <br>
            <br>


            <h5 class="card-title">Academic</h5>
            <h6>Codeup – Certificate of Completion</h6>
            <p class="card-text">A fully-immersive, project-based, and intensive 22-week full-stack Java career accelerator that provides students with 670+ hours of expert instruction in software development.</p>

            <h6>Bachelor of Science - Political Science: International Relations<br>US Naval Academy</h6>
            <p class="card-text">Every graduate of the US Naval Academy completes a core curriculum of engineering classes (i.e. Physics, Thermodynamics, Calculus I-III, Differential Equations) besides additional formal classwork in leadership and physical training and non-classroom leadership and military experiences.</p>




<!--        <div class="col-12 col-md-7 col-lg-8">-->


            <h5 class="card-title">Professional Experience</h5>
            <h6>Stay-at-Home Dad/Caregiver<br>
                July '17 - Present</h6>
            <p class="card-text">Primary caregiver for my mother in her last years of life and my daughter and son in their first years of life.</p>
            <h6>USAA Financial Advisors - Financial Advisor<br> January ’15 – July ‘17</h6>
            <p class="card-text">Provided multiple training sessions to other advisors to improve advisor efficacy in investments and life insurance, focusing on efficacy with managed money products.  Promoted early from Financial Advisor III to Financial Advisor II.  Averaged $750k in assets gathered and approximately $10k in insurance premiums monthly, using a consultative sale process from warm leads.</p>

            <h6>Edward D. Jones & Co. - Financial Advisor<br> November ’13 – December ’14</h6>
            <p class="card-text">Responsible for developing and deepening client relationships, delivering personalized investment advice to help clients achieve their financial goals, and building and managing an Edward Jones branch in San Antonio, TX.  Approximately $500,000 in assets under care with 25 families and 60 accounts.</p>

            <h6>Safeway, Inc. - Store Manager<br> June ‘12 – August ’13</h6>
            <p class="card-text">Responsible for all aspects of profitability, maintenance, customer service and human resources of a business unit with $500k in annual revenue and $17.5 million in annual sales located in the highly competitive Washington DC Metro marketplace.  Directed execution of over 1,000 discrete marketing initiatives, 150 customer service improvement meetings, and all aspects of employment of 80 direct-reporting employees.  Selected for early promotion by senior management into a high opportunity business unit.</p>
            <ul class="card-text">
                <li>With a customer-centric focus, achieved a 2 % sales increase over previous management team – an increase from .5% sales increase year-to-date to a 2.5% sales increase with no changes in marketplace factors.</li>
                <li>Through both sales increases and stringent fiscal management, increased profits on a year-to-year, same-store basis from an $11k loss to $140k in profit during initial quarter as assigned manager.</li>
                <li>By focusing on controllable costs, improved total profit margin from -.3% to 3.59% of total sales.</li>
                <li>Through customer and employee engagement, improved customer service scores from 5/10 in the previous quarter to 8/10 in first assigned quarter as manager.</li>
                <li>By strengthening and maintaining business-to-business relationships with vendors and account representatives, reduced non-perishable inventory losses from 2.9% to 2.4% (with a target of 2.8%) in sales volume, preventing $50k in losses.</li>
            </ul>
            <br>
            <h5 class="card-title">Military Experience: US Navy Lieutenant</h5>
                <h6>USS MAHAN (DDG-72) - Training Officer<br> May ‘09 – June ‘12</h6>
                <p class="card-text">Synchronized, scheduled, assessed, and maintained 400 critical, ship-wide certification requirements for multiple assessments. Areas evaluated include sustainment capacity, combat capability, and engineering operability and encompass crew training, qualifications, proficiency, maintenance practices, equipment reliability, damage control, administrative, and supply chain practices. Orchestrated 1,500 Navy school requirements for 280 sailors, 5,000 personnel qualification standards, and individualized training plans for 32 divisions, 5 departments, and 20 officers. As a collateral duty, managed the command’s $80,000 travel budget. Routinely led teams of up to 50 officers and sailors in high-visibility operational roles. </p>
                <ul class="card-text">
                    <li>Used thorough understanding of requirements to successfully complete 4 major assessments, certifying as
                        deployment-ready and consistently earning praise as “best on the waterfront.”
                    </li>
                    <li>Cited as an example of engagement and cooperation between afloat assets and assessment groups.</li>
                    <li>Developed, implemented, and augmented a training regimen that qualified 20 Surface Warfare Officers.</li>
                    <li>Boosted the ship’s school accomplishment rate from 73% to 98%.</li>
                    <li>Improved both the ship’s Training Figure of Merit from 75% to 96% and the training process by engaging superiors and subordinates and capturing, quantifying, and correcting discrepancies.</li>
                </ul>
                <h6>USS LEYTE GULF (CG-55) - Auxiliaries Officer<br> May ‘07 - May ’09</h6>
                <p class="card-text">Supervised the maintenance and operation of all non-propulsion engineering equipment, including 5 air compressors, 2 refrigeration plants, 4 chill water/air conditioning plants, 10 pumps for various liquid service systems, 2 ship’s boats, 2 pneumatic davits, and the flight deck and aviation recovery system – $100 million worth of equipment in total. As the Ship’s Maintenance Management Officer, a role normally filled by an officer 12-16 years senior, in charge of identifying, scheduling, and ensuring satisfactory completion of all work accomplished by outside maintenance activities and responsible for the effective use of a $3.3 million budget. Led and directly supervised 15 technicians.</p>
                <ul class="card-text">
                    <li>Despite a fiscally restrained climate, successfully facilitated a $2.1 million maintenance budget augment through written and verbal advocacy to maintain optimum mission readiness.</li>
                    <li>100% advancement rate for technicians, including a “Sailor of the Year”.</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<footer th:replace="partials.html::footer"></footer>
</body>
</html>